---
import type { ContentEntry } from "../../types";
import { url } from "../../utils/url-utils";

interface Props {
    direction: "previous" | "next";
    post: ContentEntry;
}

const { direction, post } = Astro.props;
---

<a
    href={url(`/${post.collection}/${post.id}`)}
    class="group flex flex-col rounded-lg border border-[var(--surface-border)] p-6 transition duration-250 hover:border-[var(--accent)] active:scale-95"
>
    <span class="mb-2 text-sm text-[var(--text-muted)]">
        {
            direction === "previous"
                ? `← Previous ${post.collection}`
                : `Next ${post.collection} →`
        }
    </span>
    <span
        class="text-lg font-medium transition-colors duration-250 group-hover:text-[var(--accent)]"
    >
        {post.data.title}
    </span>
</a>
